:root {
  --bc-dark: #1f2937;

  --fs-logo: 1.5rem;
  --fc-logo: #f9faf8;

  --fs-nav: 1.125rem;
  --fc-nav: #e5e7eb;

  --fs-hero-heading: 3rem;
  --fw-hero-heading: 800;
  --fc-hero-heading: #f9faf8;

  --fs-hero-text: 1.125rem;
  --fc-hero-text: #e5e7eb;

  --fc-button: #f9faf8;
  --bc-button: #3882f6;

  --fs-button: 1.125rem;
  --fc-cta: #f9faf8;
  --bc-cta: #3882f6;

  --bc-galery: #f9faf8;
  --fs-galery-heading: 2.25rem;
  --fw-galery-heading: 800;
  --fc-galery-heading: #1f2937;

  --bc-quote: #e5e7eb;
  --fs-quote: 2.25rem;
  --fw-quote: 300;
  --fc-quote: #1f2937;
  --fst-quote: italic;
}

body {
  line-height: 1.7;
  font-size: 16px;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}

.button {
  font-size: var(--fs-button);
  color: var(--fc-button);
  background-color: var(--bc-button);
  padding: 0.1em 1.5em;
  border-radius: 0.25em;
}

.header-grid {
  display: grid;
  gap: 50px 10px;

  grid-template-rows: 100px;
  grid-template-columns: 1fr 1fr;
}

.header {
  background-color: var(--bc-dark);
  padding-top: 1em;
  padding-bottom: 3em;
}

.header__logo {
  font-size: var(--fs-logo);
  color: var(--fc-logo);
}

.header__nav {
  font-size: var(--fs-nav);
  color: var(--fc-nav);
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero {
  grid-column: span 2;
  gap: 0 5%;
}

.hero__image {
  border-radius: 0.5em;
  box-shadow: 2px 2px 1px 1px #ffb74d;
  height: 100%;
  object-fit: cover;
}

.card__title {
  font-size: var(--fs-hero-heading);
  font-weight: var(--fw-hero-heading);
  color: var(--fc-hero-heading);

  line-height: 1.25;
}

.card__text {
  font-size: var(--fs-hero-text);
  color: var(--fc-hero-text);
  margin-top: 1em;
}

.button--hero {
  margin-top: 0.5em;
}

.gallery-grid {
  margin-top: 2em;
}

.gallery-grid {
  display: grid;
  gap: 0 2em;

  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.gallery {
  background-color: var(--bc-galery);
  padding-top: 2em;
  padding-bottom: 4em;
}

.gallery__title {
  font-size: var(--fs-galery-heading);
  color: var(--fc-galery-heading);
  font-weight: var(--fw-hero-heading);
  text-align: center;
}

.gallery__img {
  height: 150px;
  width: 100%;
  border: 3px solid #3882f6;
  border-radius: 0.5em;
  object-fit: cover;
  object-position: 50% 80%;
  box-shadow: 0 0 2px 0px black;
}

.gallery__text {
  color: rgb(31 41 55 / 0.85);
  text-align: center;
}

.quote {
  font-size: var(--fs-quote);

  background-color: var(--bc-quote);
  padding-top: 3em;
  padding-bottom: 2em;
}

.quote__text {
  font-style: var(--fst-quote);
  font-weight: var(--fw-quote);
}

.quote__author {
  text-align: right;
}
